.vscode
.*
__pycache__
depricated
dist
src/pyplc.egg-info
upydev_.config
src/pyplc/version.py
_version.py
build
tests/lesson#*.py
docs/_build
krax.csv
krax.json
python3-pyplc
debian/*.postinst.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/debhelper-build-stamp
